<%- include("partials/_header") -%>
<div class="signup-1 flex items-center relative h-screen">
    <!-- <h1>Page is not found...</h1> -->
    <h1>Authorized page</h1>
</div>

<%- include("partials/_footer") -%>
