<%- include("partials/_header") -%>
<div class="container mx-auto px-4 sm:px-8">
    <div class="py-8">
      <div class="flex justify-between">
        <h2 class="text-2xl font-semibold leading-tight">List Detail</h2>
      </div>
    </div>
</div>

<%- include("partials/_footer") -%>
